.topBar {
    height: 100px;
    width: 80vw;
    margin: 100px 10vw;
    background-color: gray;
    &__searchFeed {
    }
    &__validation {
    }
}

.mainBlock {
    margin: 100px 10vw;
    display: grid;
    gap: 24px;
    &__displayMode {
        display: grid;
        gap: 12px;
        text-align: center;
        width: 180px;
        &__view {
            display: flex;
            gap: 4px;
            justify-content: space-between;
        }
    }
    &__listProducts {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        &__specificProduct {
            display: grid;
            gap: 6px;
            text-align: center;
        }
    }
    &__numbering {
    }
}
